// Donate Page

.donate-form {
  margin-top: $padding-sm;
  padding-top: $padding-sm;
  border-top: 1px solid color(black);
  label.radio:not(.other-amount) {
    margin-bottom: $beat;
    display: inline-block;
    margin-right: $beat * 4;
  }
  .other-amount {
    margin-top: $beat;
    .control-text {
      padding: 0;
      display: block;
    }
    .input-wrap {
      width: 100%;
    }
  }
}

.donate-by-mail {
  .card-text {
    margin-top: $padding-sm;
    padding-top: $padding-sm;
    border-top: 1px solid color(black);
  }
}