// Home page

.home.page {
  padding-top: 0;

  // Pre-scroll styles
  &[data-theme] {
    // Things that need transitions
    &,
    .site-header,
    .banner-image-container,
    .story-content-carousel,
    .page-header-text .-inner {
      will-change: background-color;
      transition: background-color .4s ease-out;
    }

    // Not Scrolled
    &:not(.scrolled) {
      // Things That need white color
      &,
      .site-header {
        color: color(white);
      }

      // Things that need black background
      &,
      .banner-image-container,
      .page-header-text .-inner,
      .story-content-carousel,
      .card {
        background-color: color(black);
      }

      // Banner image
      .banner-image-container {
        &::after {
          opacity: 0;
        }
        .banner-image {
          filter: grayscale(0);
          &::before,
          &::after {
            opacity: 0;
          }
        }
      }

      // Card overwrites
      .card {
        outline-color: color(white);
        .card-content {
          .card-title,
          .card-subtitle,
          .card-text,
          a:not(.button) {
            color: color(white);
            transition: color .4s ease-out;
          }
        }
      }
      .story-carousel-container .flickity-page-dots {
        border-color: color(white);
      }
      .card-image-container::after {
        opacity: 0;
      }
      // Site Header
      .site-header {
        background-color: transparent;
        &::after {
          border-color: color(white);
          background-color: transparent;
        }
      }
      .site-nav::after {
        border-color: color(white);
      }
      .ivoh-logo {
        fill: color(white);
      }
      .menu-toggle:not(.-active) .menu-bar {
        &,&::before,&::after {
          background-color: color(white);
        }
      }
    }

    // Menu Open
    &.menu-open {
      .site-nav::before {
        top: 0;
        left: 0;
        width: 100%;
        content: '';
        position: absolute;
        height: $headerHeightSm;
        background-color: color(black);
      }
    }
    @include media-nav {
      &.menu-open {
        .site-nav::before {
          display: none;
        }
      }
      .site-nav {
        background-color: transparent;
      }
    }
  }

  .page-header {
    @include media-md {
      margin-bottom: $beat * 11;
    }

    .page-header-top {
      display: flex;
      position: relative;
      align-items: flex-end;
      padding-top: $beat * 22;
      padding-bottom: $beat * 5;
      @include media-md {
        padding-top: 0;
        min-height: 680px;
        padding-bottom: $padding-lg;
      }
    }

    .page-title {
      z-index: 1;
      margin: 0 auto;
      text-align: center;
      position: relative;
      color: color(white);
      padding-bottom: $padding-sm;
      @include media-md {
        padding-bottom: $padding-md;
      }
    }

    .banner-image-container {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      position: absolute;

      .banner-image {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        margin: 0 auto;
        padding-bottom: 0;
        position: absolute;
        max-width: #{$container-lg + ($beat * 20)};
      }
    }

    .page-header-text {
      z-index: 1;
      padding: 0;
      position: relative;
      max-width: #{$container-sm + ($gutter * 2)};

      .-inner {
        padding-top: $padding-sm;
        margin: -#{$beat * 5} $gutter 0;
      }

      .page-intro-body {
        @include h3;
        margin-top: 0;
      }

      .intro-link {
        margin-top: $padding-sm;
      }

      .banner-text {
        margin-top: $padding-md;
        @include media-md {
          margin-left: auto;
          margin-right: auto;
          width: columns(8,10);
        }
      }

      @include media-md {
        margin: -$padding-lg auto 0;

        .-inner {
          padding-top: $padding-md;
        }
      }
    }

  }

}