// Home page

.home.page {
  padding-top: 0;
  &,
  .site-header,
  .card,
  .inherit-background {
    transition: color .4s ease-out, background-color .4s ease-out;
  }

  .card-image-container::after {
    transition: opacity .4s ease-out;
  }

  // Pre-scroll styles
  &[data-theme="pink"] {
    // Not Scrolled
    &:not(.scrolled) {
      &,
      .card,
      .inherit-background {
        color: color(white);
        background-color: color(black);
      }

      .card {
        outline-color: color(white);
        .card-content {
          &,
          a {
            color: color(white);
            transition: color .4s ease-out;
          }
        }
      }

      .card-image-container::after {
        opacity: 0;
      }

      .site-header {
        color: color(white);
        background-color: transparent;
        &::after {
          border-color: color(white);
          background-color: transparent;
        }
      }
      .site-nav::after {
        border-color: color(white);
      }
      .ivoh-logo {
        fill: color(white);
      }
      .page-header-text .-inner {
        background-color: color(black);
      }
      .menu-toggle:not(.-active) .menu-bar {
        &,&::before,&::after {
          background-color: color(white);
        }
      }
    }

    // Menu Open
    &.menu-open {
      .site-nav::before {
        top: 0;
        left: 0;
        width: 100%;
        content: '';
        position: absolute;
        height: $headerHeightSm;
        background-color: color(black);
      }
    }
    @include media-nav {
      &.menu-open {
        .site-nav::before {
          display: none;
        }
      }
      .site-nav {
        background-color: transparent;
      }
    }

    // Resetting the styles on scroll
    &.scrolled {
      .banner-image-container {
        &::after {
          opacity: 1;
        }
        .banner-image {
          filter: grayscale(1);
          &::before {
            opacity: 1;
          }
          &::after {
            opacity: .35;
          }
        }
      }

      @include media-md {
        .page-header-top {
          padding-bottom: 200px;
          transition: padding-bottom .4s ease-in-out;
        }
        .page-header-text {
          margin-top: -200px;
          transition: margin-top .4s ease-in-out .02s;
        }
      }
    }
  }

  .page-header {
    @include media-md {
      margin-bottom: $beat * 11;
    }

    .page-header-top {
      display: flex;
      position: relative;
      align-items: flex-end;
      padding-top: $beat * 22;
      padding-bottom: $beat * 5;
      @include media-md {
        padding-top: 0;
        min-height: 680px;
        padding-bottom: $padding-lg;
        transition: padding-bottom .4s ease-out .02s;
      }
    }

    .page-title {
      z-index: 1;
      margin: 0 auto;
      text-align: center;
      position: relative;
      color: color(white);
      padding-bottom: $padding-sm;
      @include media-md {
        padding-bottom: $padding-md;
      }
    }

    .banner-image-container {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      position: absolute;
      &::after {
        opacity: 0;
      }

      .banner-image {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        filter: none;
        padding-bottom: 0;
        position: absolute;
        &::before,
        &::after {
          opacity: 0;
        }
      }
    }

    .page-header-text {
      z-index: 1;
      padding: 0;
      position: relative;
      max-width: #{$container-sm + ($gutter * 2)};

      .-inner {
        padding-top: $padding-sm;
        margin: -#{$beat * 5} $gutter 0;
        transition: color .4s ease-out, background-color .4s ease-out;
      }

      .page-intro-body {
        @include h3;
        margin-top: 0;
      }

      .intro-link {
        margin-top: $padding-sm;
      }

      .banner-text {
        margin-top: $padding-md;
        @include media-md {
          margin-left: auto;
          margin-right: auto;
          width: columns(8,10);
        }
      }

      @include media-md {
        margin: -$padding-lg auto 0;
        transition: margin-top .4s ease-out;

        .-inner {
          padding-top: $padding-md;
        }
      }
    }

  }

}