// Single Posts

body.single:not(.single-tool) {

  .page-header {
    @extend .patterned;
    padding-top: $gutter;
    @include media-md {
      padding-top: $padding-lg;
    }

    .page-title {
      @include h2;
    }

    .page-header-text {
      margin: 0 $gutter;
      padding-bottom: 0;
      position: relative;
      background-color: color(pink);
      border: 1px solid color(black);
      border-bottom: none;
      &::after {
        left: 50%;
        bottom: 0;
        z-index: -1;
        content: '';
        height: 1px;
        width: 100vw;
        position: absolute;
        background: color(black);
        transform: translateX(-50%);
      }

      @include media-md {
        margin: 0 auto;
        width: columns(14);
        padding-left: columns(2);
        padding-right: columns(2);
      }
    }

    .page-header-banner {
      margin: 0;
      border: none;
      position: relative;
      padding-top: $padding-md;
      background-color: color(pink);
      &::before {
        top: 0;
        left: 0;
        width: 100%;
        content: '';
        position: absolute;
        height: $padding-md;
        background-color: inherit;
      }

      @include media-md {
        margin: 0;
        background-image: none;
      }
    }

    .banner-image-container {
      padding: 0;
      margin: 0 $gutter;
      @include media-md {
        margin: 0 auto;
        width: columns(14);
        .banner-image {
          padding-bottom: 40.3225%;
        }
      }
    }

    .banner-text {
      background-color: color(pink);

      p {
        margin: 0 auto;
        width: columns(14);
      }

      .photo-caption {
        @include p2;
        text-align: left;
        + .photo-byline {
          margin-top: $beat;
        }
      }

      .photo-byline {
        text-align: left;
      }

      a {
        color: inherit;
        text-decoration: underline;
        &:hover,
        &:focus,
        &:active {
          color: color(red);
        }
      }
    }
  }

  .post-author-meta {
    display: flex;
    padding: $gutter 0;
    position: relative;
    margin-bottom: $padding-sm;
    border-top: 1px solid color(black);
    min-height: #{72px + ($gutter * 2)};
    border-bottom: 1px solid color(black);

    .author-photo {
      left: 0;
      width: 72px;
      top: $gutter;
      height: 72px;
      border-radius: 50%;
      position: absolute;
      background-size: cover;
      background-position: center;
      border: 1px solid color(black);
    }

    .author-bio {
      display: flex;
      align-items: center;
      p {
        margin: 0;
        @include h6;
        line-height: 1.5;
      }
      padding-left: 72px + $gutter;
    }

    @include media-md {
      padding: $padding-sm 0;
      margin-bottom: $padding-md;
      min-height: #{96px + ($padding-sm * 2)};

      .author-photo {
        width: 96px;
        height: 96px;
        top: $padding-sm;
      }

      .author-bio {
        padding-left: 96px + $padding-sm;
      }
    }
  }

  article {
    @include clearfix();

    .post-intro {
      p {
        @include p2;
        font-style: italic;
      }
    }

    .entry-content {
      h1, h2, h3, h4, h5, h6 {
        @include h3;
        margin-bottom: $beat * 2;

        @include media-md {
          margin-bottom: $beat * 4;
        }
      }

      .related-links {
        margin: $gutter 0 0;
        padding: $gutter 0 0;
        border-top: 1px solid color(black);

        h3 {
          @include h4;
        }
        p {
          @include p2;
        }
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      // Share buttons
      .share {
        h3 {
          @include h6;
          text-align: center;
          margin: 0 0 $gutter;
        }

        .addthis_toolbox {
          display: flex;
          justify-content: center;
        }

        a {
          width: 48px;
          display: flex;
          + a {
            margin-left: $gutter;
          }
        }

        @include media-md {
          right: 0;
          top: $padding-sm;
          position: absolute;

          .addthis_toolbox {
            display: block;
          }

          a {
            margin-bottom: $gutter;
           + a {
            margin-left: 0;
           }
          }
        }
      }
    }
  }

  // Related posts
  .article-list {
    background: none;
    margin-top: $padding-lg;
  }

}

// Single Stories and News Posts
body.single-story[data-theme],
body.single-post[data-theme] {
  // Before .scrolled class has been added
  &:not(.scrolled) {
    color: white;
    background-color: color(black);

    .site-header {
      @include headerDarkStyle();
      &::after {
        border-color: color(white);
      }
    }

    .menu-toggle:not(.-active) .menu-bar {
      &,&::before,&::after {
        background-color: color(white);
      }
    }

    .page-header {
      .page-header-text,
      .page-header-banner,
      .banner-text {
        background-color: color(black);
      }

      .post-meta {
        color: color(black);
      }
    }

    .site-nav {
      .sub-menu {
        outline: 1px solid color(white);
      }
    }
  }

  // After .scrolled class has been added
  &.scrolled {
    .banner-image-container {
      &::after {
        opacity: 0;
      }
      .banner-image {
        filter: none;
        &::before,
        &::after {
          opacity: 0;
        }
      }
    }
  }
}