// Single Person
$personImageSm: 128px;
$personImageMd: 416px;

body.single.single-person {
  .page-header {
    padding-top: #{($personImageSm / 2) + $padding-sm};
    @include media-md {
      padding-top: #{($personImageMd / 2) + $padding-md};
    }

    .-inner {
      background: color(pink);
      border-top: 1px solid color(black);
    }

    .person-image {
      overflow: hidden;
      position: relative;
      border-radius: 50%;
      width: $personImageSm;
      height: $personImageSm;
      background-size: cover;
      top: -#{$personImageSm / 2};
      background-position: center;
      border: 1px solid color(black);
      margin: 0 auto -#{($personImageSm / 2) - $padding-sm};

      @include media-md {
        width: $personImageMd;
        height: $personImageMd;
        top: -#{$personImageMd / 2};
        margin-bottom: -#{($personImageMd / 2) - $padding-sm};
      }
    }

    .person-title {
      @include h5;
      margin: $beat 0 0;
    }
  }

  .article-list {
    @include media-md {
      background: none;
    }
  }
}
