// Single Person
$personImageSm: 128px;
$personImageMd: 416px;

body.single-person {
  .page-header {
    padding-top: #{($personImageSm / 2) + $padding-sm};
    @include media-md {
      padding-top: #{($personImageMd / 2) + $padding-md};
    }

    .-inner {
      background: color(pink);
      border-top: 1px solid color(black);
    }

    .person-image {
      overflow: hidden;
      position: relative;
      border-radius: 50%;
      width: $personImageSm;
      height: $personImageSm;
      background-size: cover;
      top: -#{$personImageSm / 2};
      background-position: center;
      border: 1px solid color(black);
      margin: 0 auto -#{($personImageSm / 2) - $padding-sm};

      @include media-md {
        width: $personImageMd;
        height: $personImageMd;
        top: -#{$personImageMd / 2};
        margin-bottom: -#{($personImageMd / 2) - $padding-sm};
      }
    }

    .person-title {
      @include h5;
      margin: $beat 0 0;
    }
  } 
}

.article-list {
  @extend .patterned;
  @include media-md {
    background: none;
  }

  .-inner {  
    padding: 0 $padding-sm;
    border: 1px solid color(black);
    @include media-md {
      padding: 0 $padding-md $padding-sm;
    }
  }

  h3 {
    text-align: center;
    margin: $padding-sm 0;
  }

  article {
    padding: $gutter 0;
    border-top: 1px solid color(black);

    a {
      color: inherit;
      text-decoration: none;
      &:hover,
      &:focus {
        color: color(red);
      }
    }
    .article-title {
      @include h4;
      margin: 0 0 $beat;
    }
    .article-tags {
      @include h6;
      margin: 0 0 $beat;
    }
    .article-action {
      margin: 0;
      a {
        @include h5;
        color: color(red);
      }
    }
  }
}