// Tools Pages

body.single-tool {
  .article-list {
    .-inner {
      border-color: transparent;
      outline: 1px solid color(black);
    }
  }

  .form-section {
    display: flex;

    .card-content {
      margin: auto;
    }

    form {
      margin-top: $gutter;

      .input-submit {
        margin-top: $beat;
      }

      @include media-md {
        margin-top: $padding-sm;
      }
    }
  }
}