// Article list
// used in single-person and research pages

.article-list {
  @extend .patterned;

  .-inner {
    padding: 0 $padding-sm;
    border: 1px solid color(black);
    @include media-md {
      padding: 0 $padding-md $padding-sm;
    }
  }

  .article-group {
    outline: 1px solid color(black);
    padding: 0 $padding-sm $padding-sm;
    @include media-md {
      padding: 0 $padding-md $padding-md;
    }
  }

  .list-title {
    @include h5;
    text-align: center;
    margin: $padding-sm 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  article,
  .article {
    padding: $gutter 0;
    border-top: 1px solid color(black);

    &.with-icon {
      position: relative;
      padding-right: $beat * 5;
    }

    .icon {
      top: 50%;
      right: 0;
      width: 18px;
      height: 18px;
      fill: color(red);
      position: absolute;
      transform: translateY(-50%);
    }

    a {
      color: inherit;
      text-decoration: none;
      &:hover,
      &:focus {
        color: color(red);
      }
    }
    .article-title {
      margin: 0;
      @include h4;
    }
    .article-tags {
      @include h6;
      margin: 0 0 $beat;
    }
    .article-action {
      margin: $beat 0 0;
      a,
      span {
        @include h5;
        color: color(red);
      }
    }
  }
}