// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  @include font-copy;
  overflow-x: hidden;
  color: color(black);
  background-color: color(pink);
}

img {
  max-width: 100%;
  height: auto;
}

.site-wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

[class*=fb-container] {
  margin: 0 auto;
  position: relative;
}
.fb-container {
  &-lg {
    @include media-md {
      width: columns(18);
    }
  }

  &-md {
    @include media-md {
      width: columns(16);
    }
  }

  &-sm {
    @include media-md {
      width: columns(14);
    }
  }

  &-content {
    padding: 0 $gutter;

    @include media-md {    
      width: columns(14);
      padding: 0 #{$gutter * 9};
    }
  }
}

// Main post content padding
.post-content {
  padding-top: #{$beat * 3};
  padding-bottom: #{$beat * 3};

  @include media-md {
    padding-top: #{$beat * 6};
    padding-bottom: #{$beat * 6};
  }
}

.mobile-gutter {
  padding-left: $gutter;
  padding-right: $gutter;

  @include media-md {
    padding-left: 0;
    padding-right: 0;
  }
}

// Page Sections
.page-section {
  + .page-section {
    margin-top: $padding-md;
  }
}

// Patterned Background
.patterned {
  background-repeat: repeat;
  background-image: url('../images/pattern.png');
  background-size: 150px 150px;
  @media (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) {
    background-size: 75px 75px;
  }
}

// Bordered (top + bottom)
.bordered {
  border-top: 1px solid color(black);
  border-bottom: 1px solid color(black);
}

// Outlined (all around)
.outlined {
  outline: 1px solid color(black);
}

// Background-blend 
// used on containers of css-treated images
.background-blend {
  position: relative;

  &::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    content: '';
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    @include transition(background-color);
    background-color: rgba(color(pink),1); // default color
  }
}