// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  @include font-copy;
  overflow-x: hidden;
  color: color(black);
  background-color: color(pink);
}

img {
  max-width: 100%;
  height: auto;
}

.site-wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

[class*=fb-container] {
  margin: 0 auto;
  position: relative;
}
.fb-container {
  &-lg {
    @include media-md {
      width: columns(18);
    }
  }

  &-md {
    @include media-md {
      width: columns(16);
    }
  }

  &-sm {
    @include media-md {
      width: columns(14);
    }
  }

  &-content {
    padding: 0 $gutter;

    @include media-md {    
      width: columns(14);
      padding: 0 #{$gutter * 9};
    }
  }
}

.mobile-gutter {
  padding: 0 $gutter;

  @include media-md {
    padding: 0;
  }
}

// Patterned Background
.patterned {
  background-repeat: repeat;
  background-image: url('../images/pattern.png');
  background-size: 150px 150px;
  @media (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) {
    background-size: 75px 75px;
  }
}

// Bordered (top + bottom)
.bordered {
  border-top: 1px solid color(black);
  border-bottom: 1px solid color(black);
}