// Buttons

// Button Mixin
@mixin button() {
  @include h5;
  cursor: pointer;
  box-shadow: none;
  color: color(red);
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  line-height: #{$beat * 6};
  padding-left: #{$beat * 3};
  padding-right: #{$beat * 3};
  border: 1px solid color(red);
  @include transition(color, background-color);

  .icon {
    width: 18px;
    height: 18px;
    fill: color(red);
    @include transition(fill);
  }

  // States
  &.-hover,
  &:hover,
  &:focus {
    color: color(white);
    background-color: color(red);

    .icon {
      fill: color(white);
      &.plus-minus,
      &.close {
        &::before,
        &::after {
          background-color: color(white);
        }
      }
    }
  }
}

.button {
  @extend .button-reset;
  @include button;

  &.circular {
    padding: 0;
    display: flex;
    border-radius: 50%;
    width: #{$beat * 6};
    height: #{$beat * 6};

    .icon {
      margin: auto;
    }
  }
}

// Expand/contract button
.expand-contract {
  @extend .button-reset;

  &.-active {
    .icon.plus-minus {
      &::after {
        transform: translateX(-50%) rotate(0deg);
      }
    }
  }
}

// CSS Icons Used in Buttons
.icon {
  width: 18px;
  height: 18px;
  display: block;
  position: relative;
  &::before,
  &::after {
    top: 50%;
    left: 50%;
    height: 1px;
    width: 18px;
    content: '';
    position: absolute;
    transform: translateX(-50%);
    background-color: color(red);
    @include transition(background-color);
  }

  // Plus/minus icon button
  &.plus-minus {
    &::after {
      @include transition(transform);
      transform: translateX(-50%) rotate(90deg);
    }
  }

  // Close icon
  &.close {
    &::before {
      transform: translateX(-50%) rotate(-45deg);
    }
    &::after {
      transform: translateX(-50%) rotate(45deg);
    }
  }
}