// Cards

.card {
  text-align: center;
  background-color: color(pink);
  outline: 1px solid color(black);


  .card-content {
    padding: $padding-md;
    
    @include media-md {
      padding: #{$padding-md * 2};
    }
  }

  .card-image {
    height: 0;
    background-size: cover;
    padding-bottom: 61.7647%;
    @include image-treatment();
    background-position: center;
  }
  
  .card-subtitle {
    @include h5;
  }

  .card-title {
    @include h3;
  }

  .card-text {
    @include p2;
  }

  .card-action {
    margin-bottom: 0;
    margin-top: $gutter;
  }

  // Landscape Variation
  &.landscape {

    @include media-md {
      .card-image {
        top: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        width: 100%;
        height: auto;
        position: absolute;
      }
    }
  }
}