// Filters
// Appear on the News and Story Bank pages

.filters-container {
  @extend .mobile-gutter;

  @include media-md {
    margin-bottom: $padding-sm;
  }
}

.filters {
  > .-inner {
    border-top: 1px solid color(black);
    @include media-md {
      text-align: center;
      padding: $padding-sm 0;
    }
  }


  .filter-title {
    @include h4;
    padding: $padding-sm 0 0;

    &.accordion-toggle {
      padding: $padding-sm 0;
    }

    .-inner {
      display: block;
      button {
        transform: translateY(-50%);
      }
    }

    @include media-md {
      &,
      &.accordion-toggle {
        padding: 0;
        margin-bottom: $gutter;
      }
    }
  }

  .accordion-content {
    padding: 0 0 $padding-sm;

    @include media-md {
      padding: 0;
    }
  }

  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -#{$beat / 2};
    width: calc(100% + #{$beat});

    li {
      list-style: none;
      display: inline-block;
      margin: 0 #{$beat / 2} $beat;

      a {
        position: relative;
      }

      &.-active {
        a:not(.radio-button) {
          border: none;
          padding-left: 54px;
          color: color(white);
          background-color: color(red);

          &::before {
            top: 10px;
            left: 20px;
            content: '';
            width: 18px;
            height: 18px;
            position: absolute;
            background: url('../svgs/icon-checkmark-white.svg');
          }
        }

        a.radio-button {
          .button {
            background-color: color(red);
            .icon {
              display: block;
            }
          }
        }
      }
    }


    .radio-button {
      @include h5;
      text-align: left;
      line-height: 40px;
      @include clearfix;
      display: inline-block;
      text-decoration: none;
      color: color(black);
      .button {
        padding: 0;
        float: left;
        width: 40px;
        height: 40px;
        display: flex;
        margin-right: $gutter;
        .icon {
          margin: auto;
          display: none;
          fill: color(white);
        }
      }

      &:hover,
      &:focus {
        .button {
          background-color: color(red);
        }
      }
    }

    @include media-md {
      justify-content: center;

      li {
        max-width: none;
        flex-basis: auto;

        a {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }

}

// Sort-by Filter Section
.sort-by {
  margin-bottom: $padding-sm;
  .select-wrap {
    width: 100%;
    @include media-md {
      width: 50%;
    }
  }
}