// Filters
// Appear on the News and Story Bank pages

.filters-container {
  @extend .mobile-gutter;

  @include media-md {
    margin-bottom: $padding-sm;
  }
}

.filters {
  > .-inner {
    border-top: 1px solid color(black);
    @include media-md {
      text-align: center;
      padding: $padding-sm 0;
    }
  }


  .filter-title {
    @include h4;
    padding: $padding-sm 0 0;

    &.accordion-toggle {
      padding: $padding-sm 0;
    }

    .-inner {
      display: block;
      button {
        transform: translateY(-50%);
      }
    }

    @include media-md {
      padding: 0;
      margin-bottom: $gutter;
    }
  }

  .accordion-content {
    padding: 0 0 $padding-sm;

    @include media-md {
      padding: 0;
    }
  }

  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -#{$beat / 2};
    width: calc(100% + #{$beat});

    li {
      list-style: none;
      display: inline-block;
      margin: 0 #{$beat / 2} $beat;
    }

    @include media-md {
      justify-content: center;

      li {
        max-width: none;
        flex-basis: auto;

        a {
          position: relative;
          padding-left: 40px;
          padding-right: 40px;
        }

        &.-active {
          a {
            border: none;
            color: color(white);
            background-color: color(red);

            &::before {
              top: 10px;
              content: '';
              width: 18px;
              height: 18px;
              left: $gutter;
              position: absolute;
              background: url('../svgs/icon-checkmark-white.svg');
            }
          }
        }
      }
    }
  }

}

// Sort-by Filter Section
.sort-by {
  margin-bottom: $padding-sm;
  .select-wrap {
    width: 100%;
    @include media-md {
      width: 50%;
    }
  }
}