// Footer

.site-footer {
  padding: $padding-md $gutter 0;
  border-top: 1px solid color(black);
  @include media-md {
    padding: $padding-lg 0 0;
  }

  .-inner {
    text-align: center;
    color: color(white);
    padding-top: $padding-md;
    padding-bottom: $padding-md;
    @include padding(horizontal);
    background-color: color(black);

    [class*=-column] {
      margin-bottom: $gutter;
    }

    @include media-lg {
      text-align: left;
      padding-top: $padding-lg;
      padding-bottom: $padding-lg;

      .-column-one {
        max-width: columns(3,14);
        flex-basis: columns(3,14);
        padding-right: $padding-lg;
      }
      .-column-two {
        max-width: columns(4,14);
        flex-basis: columns(4,14);
        padding-right: $padding-lg;
      }
      .-column-three {
        max-width: columns(7,14);
        flex-basis: columns(7,14);
      }
    }
  }

  .site-logo {
    margin: 0;
    line-height: 1;
    font-size: 24px;

    a {
      vertical-align: top;
      display: inline-block;
    }

    .ivoh-logo {
      width: 55px;
      height: 24px;
      fill: color(white);
      vertical-align: top;
      display: inline-block;
    }
  }

  .contact {
    @include h5;

    a {
      display: block;
      margin-bottom: $gutter;
      color: color(white);
      text-decoration: none;
    }
  }

  .address {
    margin-bottom: $gutter;
  }

  .social-media-links {
    @include clearfix;
    text-align: center;
    @extend .semantic-list;

    li {
      display: inline-block;
      margin-left: #{$beat * 2};
      &:first-of-type {
        margin-left: 0;
      }
    }

    @include media-lg {
      li {
        float: left;
        margin-left: $padding-sm;
      }
    }
  }

  .footer-text p {
    @include p2;
  }
}

// Site pre-footer
.site-pre-footer {
  border-top: solid 1px color(black);

  .user-content {
    p {
      @include p2;
    }
  }

  .-item {
    padding: $gutter;
    text-align: center;

    &:first-of-type {
      border-bottom: 1px solid color(black);
    }

    h3 {
      @include h4;
    }

    .action {
      margin-bottom: 0;
    }

    @include media-md {
      padding: #{$beat * 6} #{$beat  * 10};

      &:first-of-type {
        border-bottom: none;
        border-right: 1px solid color(black);
      }
    }
  }
}