// Forms

form {

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  .form-row {
    + .form-row {
      margin-top: $beat;
    }

    &.spaced {
      label:not(.radio) {
        left: $gutter + 4px;
      }
    }
  }

  .input-wrap {
    position: relative;
    color: color(black);
  }

  .input-wrap.filled input,
  input:focus {

    + label {
      top: 4px;
      @include h6;
    }
  }

  label:not(.radio) {
    @include h5;
    top: 22px;
    left: $gutter;
    position: absolute;
    pointer-events: none;
    @include transition(all);
  }

  input {
    width: 100%;
    @include p2;
    border: none;
    height: #{$beat * 7};
    border-radius: 8px 8px 0 0;
    padding: 21px $gutter 11px;
    background-color: color(white);

    &:focus {
      outline: none;
      border-bottom: 1px solid color(black);
    }
  }

  input[type=search] {
    box-sizing: border-box;
  }

  .submit {
    margin-top: $gutter;
  }

  // Custom radio styles
  label.radio {
    display: block;

    input[type="radio"] {
      @extend .sr-only;
      &:active,
      &:checked {
        + .control-indicator {
          background-color: color(red);
          background-image: url('../svgs/icon-checkmark-white.svg');
          background-size: 18px 18px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    .control-indicator {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: $beat;
      display: inline-block;
      background-color: color(white);
    }

    .control-text {
      @include h3;
      padding-top: 3px;
      vertical-align: top;
      display: inline-block;
    }
  }

  // Status
  .status {
    @include h5;
    margin: $gutter 0;
  }
}

// Custom select styles
.select-wrap {
  text-align: left;
  position: relative;
  display: inline-block;
  &:after {
    top: 19px;
    width: 18px;
    content: '';
    height: 18px;
    right: $gutter;
    position: absolute;
    pointer-events: none;
    background-image: url('../svgs/icon-arrow-dropdown.svg');
  }

  select {
    @include h5;
    // reset
    border: none;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
    //
    width: 100%;
    cursor: pointer;
    height: #{$beat * 7};
    border-radius: 8px 8px 0 0;
    background-color: color(white);
    padding: $gutter 50px $gutter $gutter;
    @include transition(background-color);

    &:hover {
      background-color: color(red);
    }

    &:focus {
      outline: none;
    }
  }
}