// Header

.site-header {
  .site-logo {
    margin: 0;

    .ivoh-logo {
      width: 55px;
      height: 24px;
      fill: color(black);

      @include media-md {
        width: 34px;
        height: 15px;
      }
    }
  }
}
