// Header


// Page-padding to compensate for fixed header
body {
  padding-top: $headerHeightSm;
  @include media-nav {
    padding-top: $headerHeightMd;
  }

  // Page-padding to compensate for wp-admin bar
  &.admin-bar {
    padding-top: $headerHeightSm + 46px;

    @include min-screen(783px) {
      padding-top: $headerHeightMd + 32px;

      .site-header,
      .site-nav:after {
        top: 32px;
      }

      .search-form-container {
        top: $headerHeightMd + 32px;
      }
    }
  }
}

.site-header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  position: fixed;
  padding: 0 $gutter;
  height: $headerHeightSm;
  background-color: color(pink);
  @include transition(background-color);

  &::after {
    top: 0;
    left: 0;
    z-index: 1;
    bottom: 0;
    width: 100%;
    content: '';
    position: absolute;
    background-color: inherit;
    border-bottom: 1px solid color(black);
  }

  @include media-nav {
    padding: 0;
    height: $headerHeightMd;

    &::after {
      border: none;
    }

    > .-inner {
      @include clearfix;
    }

    &:hover,
    &.-hover {
      color: color(white);
      border-color: color(white);
      background-color: color(black);

      .site-logo .ivoh-logo {
        fill: color(white);
      }

      .site-nav::after {
        border-color: color(white);
        background-color: color(black);
      }

      .primary-nav,
      .secondary-nav {
        > li:not(.donate)::after {
          background-color: color(white);
        }
      }
    }
  }

  .site-logo {
    margin: 0;
    z-index: 3;
    left: -10px;
    font-size: 24px;
    position: relative;
    line-height: $headerHeightSm;

    a {
      padding: 0 10px;
      display: inline-block;
    }

    .ivoh-logo {
      top: 2px;
      width: 55px;
      height: 24px;
      position: relative;
      fill: color(black);
    }

    @include media-nav {
      float: left;
      font-size: 15px;
      margin-right: 62px;
      line-height: $headerHeightMd;

      .ivoh-logo {
        top: 0;
        width: 34px;
        height: 15px;
      }
    }
  }
}

// Nav
.site-nav {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  color: color(white);
  padding-top: $headerHeightSm;
  transform: translateY(-100%);
  @include transition(transform);
  background-color: lighten(color(black),10%);
  @extend .patterned;

  &.-active {
    transform: none;
  }

  @include media-nav {
    top: auto;
    left: auto;
    z-index: 2;
    width: auto;
    bottom: auto;
    display: flex;
    color: inherit;
    padding-top: 0;
    transform: none;
    position: relative;
    background-color: color(pink);
    justify-content: space-between;

    &::after {
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      content: '';
      position: fixed;
      pointer-events: none;
      height: $headerHeightMd;
      background-color: inherit;
      border-bottom: 1px solid color(black);
      @include transition(background-color, border-color);
    }

    .menu-primary-container,
    .secondary-nav-container {
      z-index: 2;
    }
  }

  a {
    color: inherit;
    display: block;
    padding: 0 $gutter;
    text-decoration: none;
    height: $headerHeightSm;
    background-color: color(black);

    @include media-nav {
      background-color: transparent;
    }
  }

  // Top Level Items
  .primary-nav,
  .secondary-nav {
    > li {
      border-bottom: 1px solid color(white);

      &.active,
      &.current-menu-parent,
      .active {
        > a {
          text-decoration: underline;
        }
      }

      > a {
        @include h5;
        line-height: $headerHeightSm; 
      }

      @include media-nav {
        float: left;
        border-bottom: none;
        height: $headerHeightMd;

        &.active {
          > a {
            text-decoration: none;
          }
        }

        &:not(.donate) {
          position: relative;

          > a {
            height: $headerHeightMd;
            line-height: #{$headerHeightMd + 1};
          }

          &::after {
            left: 50%;
            bottom: 0;
            opacity: 0;
            content: '';
            width: 24px;
            height: 12px;
            position: absolute;
            pointer-events: none;
            transform: translateX(-50%);
            border-radius: 12px 12px 0 0;
            background-color: color(black);
            @include transition(opacity, background-color);
          }

          &:hover,
          &:focus,
          &.active {
            &::after {
              opacity: 1;
            }
          }

          &:hover,
          &:focus {
            &::after {
              background-color: color(white);
            }
          }
        }
      }
    }
  }
  
  ul {
    @include clearfix;
    @extend .semantic-list;

    @include media-nav {
      z-index: 2;
      position: relative;
    }
  }


  // Sub-menu
  .menu-item-has-children {
    position: relative;

    &.-active {
      .sub-nav-button {
        &::after {
          display: none;
        }
      }
    }

    @include max-screen($breakpoint-nav) {
      &.-active {
        .sub-menu {
          display: block;
        }
      }
    }

    @include media-nav {
      &:hover,
      &:focus {
        .sub-menu {
          display: block;
        }
      }
    }
  }

  .sub-nav-button {
    top: 0;
    right: 0;
    border: none;
    display: flex;
    outline: none;
    background: none;
    position: absolute;
    pointer-events: none;
    width: $headerHeightSm;
    height: $headerHeightSm;

    .icon {
      margin: auto;
    }

    @include media-nav {
      display: none;
    }
  }

  .sub-menu {
    display: none;
    background-color: color(black);

    a {
      @include h4;
      padding-left: #{$gutter * 2};
      line-height: $headerHeightSm;
      border-top: 1px solid color(white);
    }

    @include media-nav {
      left: 50%;
      top: 100%;
      text-align: center;
      position: absolute;
      transform: translateX(-50%);

      li:first-of-type {
        a {
          border-top: none;
        }
      }

      a {
        color: color(white);
        white-space: nowrap;
        padding: 0 #{$beat * 8};
        &:hover,
        &:focus {
          color: color(red);
          text-decoration: underline;
        }
      }
    }
  }

  .primary-nav {

    @include media-nav {
      > li {
        margin-left: $gutter;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

  .secondary-nav-container {
    @include media-nav {
      @include clearfix;
      > * {
        float: left;
      }
    }
  }

  .secondary-nav {
    @include media-nav {
      li:not(.donate) {
        margin-left: #{$gutter * 2};

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

  // Donate Button
  li.donate {

    @include media-nav {    
      position: relative;
      vertical-align: top;
      margin-left: #{$padding-sm * 2};
      line-height: #{$headerHeightMd - 3};

      a {
        @include button;
      }
    }
  }

  // Search Toggle
  .search-toggle {
    display: none;

    @include media-nav {
      top: 15px;
      display: flex;
      margin-left: 20px;
      position: relative;
    }
  }

}

// Menu-open
body.menu-open,
body.search-open {
  @include max-screen($breakpoint-nav) {  
    .site-header {
      &::after {
        border-color: color(white);
        background-color: color(black);
      }
    }
    .site-logo {
      .ivoh-logo {
        fill: color(white);
      }
    }
  }
}
// Search-open
body.search-open {
  .site-header {
    color: color(white);
  }
  .site-nav::after {
    background-color: color(black);
  }
}

// Menu Toggle
.menu-toggle {
  top: 15px;
  z-index: 30;
  right: $gutter;
  cursor: pointer;
  @include clearfix;
  position: absolute;

  @include media-nav {
    display: none;
  }

  .text {
    float: left;
    @include h5;
    margin-top: 1px;
    margin-right: 10px;
  }

  .menu-bar {
    top: 8px;
    float: left;
    height: 1px;
    width: 18px;
    position: relative;
    background-color: color(black);

    &::before,
    &::after {
      width: 18px;
      height: 1px;
      content: '';
      position: absolute;
      background-color: color(black);
    }
    &::before {
      top: -7px;
      transform-origin: top right;
    }
    &::after {
      bottom: -7px;
      transform-origin: bottom right;
    }
  }

  &.-active {
    .text {
      color: color(red);
    }

    .menu-bar {
      background-color: transparent;

      &::before,
      &::after {
        background-color: color(red);
      }

      &::before {
        transform: rotate(-45deg) translateY(-1px) translateX(-3px);
      }
      &::after {
        transform: rotate(45deg) translateY(2px) translateX(-2px);
      }
    }
  }
}