// Page Header

.page-header {
  @extend .bordered;
  padding: 0 $gutter;
  @include media-md {
    padding: 0;
  }
}

// Banner Images
.banner-image-container {

  .banner-image {
    height: 192px;
    background-size: cover;
    @include image-treatment();
    background-position: center;

    @include media-md {
      height: 0;
      padding-bottom: 31.25%;
    }
  }
}