// Page Header

.page-header {
  text-align: center;
  margin-bottom: $padding-md;

  &-text {
    padding: #{$beat * 6} $gutter;
  }

  .page-title {
    margin: 0;
    @include h1;
  }

  .post-byline {
    margin-top: $padding-sm;
    a {
      color: inherit;
    }
  }

  .post-meta {
    @include h6;

    span {
      display: block;
      @include media-md {
        display: inline-block;
        &:first-of-type {
          margin-right: 10px;
        }
      }
    }

    .post-terms {
      margin: $gutter 0 0;
      padding: $gutter 0 0;
      border-top: 1px solid color(black);

      li {
        list-style: none;
        display: inline-block;
        + li {
          margin-left: $gutter;
        }
      }

      a {
        color: inherit;
      }
    }
  }

  .page-intro-body {
    margin: #{$beat * 2} auto 0;

    p {
      margin: #{$beat * 2} 0 0;
      &:first-of-type {
        margin-top: 0;
      }
    }

    @include media-md {
      width: columns(8,10);
    }
  }

  @include media-md {
    &-text {
      margin: 0 auto;
      width: columns(10);
      padding: #{$beat * 9} 0;
    }
  }
}

// Breadcrumbs
.breadcrumbs {
  @include h5;
  @include clearfix;
  text-align: center;
  @extend .semantic-list;
  margin-bottom: #{$beat * 2};

  li {
    display: inline-block;
    &::after {
      content: '/';
      margin: 0 5px 0 8px;
    }
    &:last-of-type {
      &::after {
        display: none;
      }
    }
  }

  a {
    color: color(black);
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

// Banner Images
.banner-image-container {
  padding: 0 $gutter;
  @include media-md {
    padding: 0;
    margin: 0 auto;
    width: columns(18);
  }

  .banner-image {
    height: 192px;
    background-size: cover;
    @include image-treatment();
    background-position: center;

    @include media-md {
      height: 0;
      padding-bottom: 31.25%;
    }
  }
}

.banner-text {
  padding-top: $gutter;

  .photo-caption {
    @include h6;
    text-align: center;
    + .photo-byline {
      margin-top: $beat;
    }
  }
  .photo-byline {
    @include h5;
    text-align: center;
  }
}