// Page Header

.page-header {
  text-align: center;
  padding: #{$beat * 6} $gutter;

  h1 {
    @include h1;
  }

  @include media-md {
    padding: #{$beat * 9} $gutter;
  }
}

// Banner Images
.banner-image-container {

  .banner-image {
    height: 192px;
    background-size: cover;
    @include image-treatment();
    background-position: center;

    @include media-md {
      height: 0;
      padding-bottom: 31.25%;
    }
  }
}