// Post Navigation

.page-links {
  @include clearfix;
  position: relative;
  text-align: center;
  margin-bottom: -$padding-md;
  border-top: 1px solid color(black);
  &::before {
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 1px;
    content: '';
    position: absolute;
    transform: translateX(-1px);
    background-color: color(black);
  }
  @include media-md {
    margin-bottom: -$padding-lg;
  }

  a {
    color: inherit;
    display: block;
    text-decoration: none;
    padding: 0 $beat #{$beat * 4};
    &:hover,
    &:focus {
      color: color(red);
    }
  }

  .-item {
    width: 50%;
    padding-top: $padding-sm;

    .icon {
      fill: color(red);
      margin-bottom: $beat;
      display: inline-block;
    }

    h2 {
      margin: 0;
      @include h4;
    }
  }

  .breadcrumbs {
    text-align: inherit;
    margin-bottom: $beat;
  }

  .next-page {
    float: right;
  }

  .previous-page {
    float: left;
    .icon {
      transform: rotate(180deg);
    }
  }

  @include media-md {

    a {
      display: flex;
      padding-left: 0;
      padding-right: 0;
      @include transition(color);
      &:hover,
      &:focus {
        .icon-container {
          background-color: color(red);
          .icon {
            fill: color(white);
          }
        }
      }
    }

    .icon-container {
      width: 48px;
      height: 48px;
      display: flex;
      border-radius: 50%;
      border: 1px solid color(red);
      @include transition(background-color);
      .icon {
        margin: auto;
        @include transition(fill);
      }
    }

    .previous-page {
      text-align: left;
      padding-right: $beat;

      .icon-container {
        margin-right: $padding-sm;
      }
    }

    .next-page {
      text-align: right;
      padding-left: $beat;

      a {
        flex-direction: row-reverse;
      }

      .icon-container {
        margin-left: $padding-sm;
      }
    }
  }
}

.post-navigation {

  .back-navigation {
    text-align: center;
    padding-top: $padding-md;

    a {
      color: color(black);
      display: inline-block;
      text-decoration: none;
      &:hover,
      &:focus {
        color: color(red);
      }
    }

    span {
      display: block;
      + span {
        margin-top: $beat;
      }
    }
  }
}