// Search form

.search-form-container {
  padding: $padding-md $gutter;

  h3 {
    @include h4;
    text-align: center;
  }

  .-inner {
    display: flex;
  }

  .input-wrap {
    flex-grow: 2;
  }

  .search-submit {
    margin-left: $beat;
  }

  .search-close {
    display: none;
    margin-left: $beat;
    width: #{$beat * 7};
    height: #{$beat * 7};
  }

  @include media-nav {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
    top: $headerHeightMd;
    transition: transform .3s ease-out;
    background-color: rgba(color(black),.9);
    transform: translateY(calc(-100% - #{$headerHeightMd}));

    &.-active {
      transform: none;
    }

    .search-close {
      display: flex;
    }
  }
}