// Search form

.search-form {
  .-inner {
    display: flex;
  }

  .search-title {
    @include h4;
    text-align: center;
  }

  .input-wrap {
    flex-grow: 2;
  }

  .search-submit {
    margin-left: $beat;
  }
}

.search-form-container {
  padding: $padding-md $gutter;

  .search-close {
    display: none;
    margin-left: $beat;
    width: #{$beat * 7};
    height: #{$beat * 7};
  }

  @include media-nav {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
    top: $headerHeightMd;
    transition: transform .3s ease-out;
    background-color: rgba(color(black),.9);
    transform: translateY(calc(-100% - #{$headerHeightMd}));

    &.-active {
      transform: none;
    }

    .search-close {
      display: flex;
    }
  }
}

// Search Results Page
body.search-results {
  .page-search-form {
    margin-bottom: $padding-sm;
    > .-inner {
      @extend .bordered;
      padding: $padding-sm 0;
    }

    @include max-screen($breakpoint-md - 1) {
      form {
        padding: 0;
      }
    }
  }
  .search-result {
    &.-hover {
      .icon {
        fill: color(red);
      }
    }
    .card-title {
      a.external-link {
        position: relative;
        padding-left: $beat * 3;
        padding-right: $beat * 3;
        .icon {
          top: 2px;
          right: 0;
          width: 18px;
          height: 18px;
          position: absolute;
          @include transition(fill);
        }
        &:hover,
        &:focus {
          .icon {
            fill: color(red);
          }
        }
      }
    }
    .post-url {
      @include h6;
      margin-top: $beat;
      a {
        word-break: break-all;
      }
    }
  }
}

// In-page search styles
.page-search-form {
  form {
    width: 100%;
    .search-close {
      display: none;
    }
  }
}