// Story Carousels
.story-carousel-container {
  .flickity-button {
    top: auto;
    bottom: 0;
    z-index: 1;
    display: flex;
    background: none;
    border: 1px solid color(red);
    svg {
      top: auto;
      left: auto;
      width: 18px;
      height: 18px;
      margin: auto;
      fill: color(red);
      position: relative;
    }
  }

  .flickity-page-dots {
    bottom: 0;
    height: 95px;
    border-top: 1px solid color(black);

    .dot {
      top: 50%;
      opacity: 1;
      width: 16px;
      height: 16px;
      position: relative;
      transform: translateY(-8px);
      border: 1px solid color(red);
      background-color: rgba(color(red),0);
      @include transition(background-color);
      &.is-selected {
        background-color: rgba(color(red),1);
      }
    }
  }

  .story-content-carousel {
    .story-content {
      width: 100%;
      padding-bottom: 95px + $gutter;
    }
  }
}

.story-image-carousel {
  height: 0;
  width: 100%;
  padding-bottom: 66.6666%;
  
  .flickity-viewport,
  .flickity-slider {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .story-image-container {
    width: 100%;
    height: 100%;
  }

  .story-image {
    @include image-treatment();
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-size: cover;
    background-position: center;
  }

  @include media-lg {
    height: auto;
    padding-bottom: 0;
  }
}

// When appearing in a regular page
.post-content .story-carousel-container {
  width: 100%;
  max-width: none;

  @include media-md {
    width: columns(14,10);
    margin: $padding-md 0 $padding-md -#{columns(2,10)};
  }
}