// Styling of content that is editable in wysiwyg

.user-content {
  @include clearfix();

  h1,h2,h3,h4 {
    @include h3;
  }
  h5 {
    @include h5;
  }
  h6 {
    @include h6;
  }

  p {
    @include p2;
    margin-bottom: $beat * 2;

    @include media-md {
      @include p1;
      margin-bottom: $beat * 4;
    }
  }

  a:not(.button) {
    color: inherit;
    text-decoration: underline;
    &:hover,
    &:focus,
    &:active {
      color: color(red);
    }
  }

  ol,
  ul {
    @include p2;
    margin-bottom: $beat * 2;
    padding-left: 1em;

    @include media-md {
      @include p1;
      margin-bottom: $beat * 4;
    }

    li {
      margin-bottom: $beat * 2;
      padding-left: 1em;
      @include media-md {
        margin-bottom: $beat * 4;
      }
      ol,
      ul {}
    }
  }

  hr {
    + p {
      margin-bottom: 0;
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  blockquote {
    text-align: center;
    margin: $padding-sm 0;
    padding: $padding-sm 0;
    border-top: 1px solid color(black);
    border-bottom: 1px solid color(black);

    p {
      margin: 0;
      @include h3;

      cite {
        @include h5;
        margin-bottom: 0;
        margin-top: #{$beat * 2};
      }
    }

    @include media-md {
      width: columns(12,10);
      padding: #{$beat * 6} 0;
      margin: $padding-md 0 $padding-md -#{columns(1,10)};
    }
  }

  figure,
  .entry-content-asset {
    @extend .patterned;
    max-width: none;
    padding: 0 $gutter;
    text-align: center;
    margin: $padding-sm 0 $padding-sm -#{$gutter};
    width: calc(100% + #{$gutter * 2})!important; // override wp inline width

    img {
      width: auto;
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }

    iframe.instagram-media {
      margin: 0 auto!important;
    }

    figcaption {
      @include p2;
      text-align: left;
      margin-left: -$gutter;
      padding: $gutter $gutter 0;
      width: calc(100% + #{$gutter * 2});

      cite {
        @include h5;
        display: block;
        margin-top: $beat;
      }
    }

    @include media-md {
      padding: 0;
      margin: $padding-md 0 $padding-md -#{$content-padding - $gutter};
      width: calc(100% + #{($content-padding * 2) - ($gutter * 2)})!important;

      figcaption {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }

    @include min-screen(#{$container-content + ($gutter * 2)}) {
      margin: $padding-md 0 $padding-md -#{$content-padding};
      width: calc(100% + #{$content-padding * 2})!important;
    }

  }

}