// Colors

@each $color, $value in $colors {
  // Color-themes based on data attribute
  [data-theme="#{$color}"] {
    background-color: $value;

    .inherit-background,
    .site-header,
    .card,
    &.single .page-header-text,
    &.single .page-header-banner,
    &.single .banner-text,
    &.home.page .page-header-text,
    .research-group-list .research-group {
      background-color: $value;
    }

    // CSS-treated images
    .background-blend::after {
      background-color: $value;
    }

    // Card hover state
    .card.-hover .card-image-container::after {
      background-color: rgba($value,0);
    }

    @include media-nav {
      .site-nav {
        background-color: $value;
      }
    }
  }

  .color-#{$color} {
    fill: $value;
    color: $value;
  }

  .background-#{$color} {
    background-color: $value;
  }
}
