// Colors

@each $color, $value in $colors {
  // Color-themes based on data attribute
  [data-theme="#{$color}"] {
    background-color: $value;

    .site-header,
    .card,
    &.single .page-header-text,
    &.single .page-header-banner,
    &.single .banner-text {
      background-color: $value;
    }

    @include media-nav {
      .site-nav {
        background-color: $value;
      }
    }

    .background-blend {

      &::after {
        background-color: $value;
      }
    }
  }

  .color-#{$color} {
    fill: $value;
    color: $value;
  }

  .background-#{$color} {
    background-color: $value;
  }
}
