// Utility Classes

// Visibility
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

// Disable-scrolling
.no-scroll {
  position: fixed;
  overflow: hidden;
}

// Clearfix
.clearfix,
.cf {
  @include clearfix;
}

// Semantic List
.semantic-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Button reset
.button-reset {
  border: none;
  appearance: none;
  background: none;

  &:hover,
  &:focus {
    outline: none;
  }
}

// Transitions-disabled
.no-transitions {
  transition: none;
}

// Utility Style classes
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}