// Variables

// Colors
$colors: (
  red: #FF2828,
  mint: #B6F2D8,
  pink: #FFCCCC,
  blue: #BFF1FF,
  sand: #FFEECC,
  gray: #D7D7D7,
  gray-light: #F2F2F2,
  black: #191919,
  white: #FFFFFF
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-nav: 900px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1200px;

// Sizes
$headerHeightSm: 48px;
$headerHeightMd: 80px;

// Container Max-widths
$container-content: 992px;
$container-sm: 848px;
$container-md: 1136px;
$container-lg: 1280px;

// Global Padding
$beat: 8px;
$padding-sm: $beat * 3;
$padding-md: $beat * 6;
$padding-lg: $beat * 9;
$content-padding: $beat * 18;

// Global UI Transitions
$transition: .2s;